services:
  # 1. ZOOKEEPER (Lightweight traffic controller)
  zookeeper:
    image: zookeeper:3.5
    container_name: zookeeper
    hostname: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOO_MY_ID: 1
    networks:
      - bigdata-net

  # 2. HBASE (The Database - Optimized for 8GB RAM)
  hbase:
    image: harisekhon/hbase:latest
    container_name: hbase-server
    hostname: hbase-docker
    depends_on:
      - zookeeper
    environment:
      - HBASE_MANAGES_ZK=false
      - HBASE_ZOOKEEPER_QUORUM=zookeeper
      # HARD LIMITS: Force HBase to use very little RAM
      - HBASE_HEAPSIZE=512M
      - HBASE_OFFHEAPSIZE=64M
      - HBASE_MASTER_INFO_PORT=16010
      - HBASE_REGIONSERVER_INFO_PORT=16030
    entrypoint: "/bin/bash"
    command: "-c '/hbase/bin/start-hbase.sh && /hbase/bin/hbase-daemon.sh start thrift && tail -f /hbase/logs/*'"
    ports:
      - "16010:16010"
      - "9090:9090"
      - "16000:16000"
      - "16020:16020"
    networks:
      - bigdata-net

networks:
  bigdata-net:
    driver: bridge